# Dependencias locales (se reinstalan dentro del contenedor)
node_modules

# Archivos de entorno (no deben subirse nunca)
.env
.env.*

# Logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
tmp
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos del editor o sistema
.vscode
.idea

# Archivos de Docker locales
docker-compose.yml
